[submodule "horten"]
	path = horten
	branch = master
	url = https://github.com/koopero/horten.git
[submodule "horten-websocket"]
	path = horten-websocket
	branch = master
	url = https://github.com/koopero/horten-websocket.git
[submodule "deepcolour"]
	path = deepcolour
	branch = master
	url = https://github.com/koopero/deepcolour.git
[submodule "string2png"]
	path = string2png
	branch = master
	url = https://github.com/koopero/string2png.git
[submodule "horten-control"]
	path = horten-control
	branch = master
	url = https://github.com/koopero/horten-control.git
[submodule "horten-server"]
	path = horten-server
	branch = master
	url = https://github.com/koopero/horten-server.git
[submodule "loopin-native"]
	path = loopin-native
	branch = master
	url = https://github.com/koopero/loopin-native.git
[submodule "loopin"]
	path = loopin
	branch = master
	url = https://github.com/koopero/loopin.git
[submodule "loopin-server"]
	path = loopin-server
	branch = master
	url = https://github.com/koopero/loopin-server.git
[submodule "loopin-shaders"]
	path = loopin-shaders
	branch = master
	url = https://github.com/koopero/loopin-shaders.git
[submodule "loopin-test"]
	path = loopin-test
	branch = master
	url = https://github.com/koopero/loopin-test.git
[submodule "horten-persist-file"]
	path = horten-persist-file
	url = https://github.com/koopero/horten-persist-file
